body{
    background-color: rgb(47, 5, 88);
}
button{
    width:50px;
    height: 50px;
    border-radius: 50px;
    margin: 20px;
    pointer-events: none;
    background-color: rgba(80, 41, 119, 0.952);
    border:2px solid rgb(255, 255, 255);
    color:white;
}
input{
    text-align: center;
    margin: auto;
    display: block;
    height:50px;
    border:2px solid rgb(255, 255, 255);
    border-radius: 70px;
    pointer-events: none;
    background-color: rgba(80, 41, 119, 0.952);
    color:white;
    
}
.content{
    width: 400px;
    display: block;
    margin:auto;
}
.phone{
    background-color: rgba(80, 41, 119, 0.952);
    height: 700px;
}